.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;

}

.dialogsItems .dialog {
    padding: 0 10px;
}

.dialogsItems .dialog a{
    text-decoration: none;
    color: white;
}

.dialogsItems .dialog a.active {
    color: gray;
    font-weight: 700;
}

.dialogsItems .dialog.active {
    color: gray;
}

.messages {

}

.messages .message {

}